@font-face {
  font-family: RioGrande;
  src: url(../public/fonts/RioGrande.ttf);
}

@font-face {
  font-family: Alberston;
  src: url(../public/fonts/Albertson.ttf);
}

@font-face {
  font-family: Western;
  src: url(../public/fonts/WEST____.TTF);
}

* {
  font-family: Western;
  color: #8b4513;
}

h1 {
  color: #8b4513;
  margin-top: 50px;
  font-family: RioGrande;
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #8b4513;
}

.formBox {
  width: 200px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid;
  border-color: #8b4513; /* saddle brown */
  padding: 10px 10px;
  font-family: inherit;
  cursor: pointer;
}

.displayBoxForFormComponents {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.btn {
  background-color: white; /* Denim Blue */
  border-radius: 5px;
  border-color: #8b4513;
  padding: 15px 32px;
  color: #8b4513;
  font-size: 16px;
}

.btn:hover {
  background-color: #8b4513; /* Denim Blue */
  border-color: #8b4513;
  color: white;
}

.btn:active {
  color: #1e90ff;
}

